body{
    margin:0;
    background:#f2f2f7;
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;
    color:#1d1d1f;
}

.app{
    max-width:750px;
    margin:auto;
    padding:30px;
}

h1{
    font-size:34px;
    font-weight:600;
}

input{
    width:100%;
    padding:18px;
    border-radius:18px;
    border:none;
    background:white;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    margin:20px 0;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:white;
    margin-bottom:14px;
    padding:18px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 18px rgba(0,0,0,0.07);
}

li span{
    display:block;
    color:#6e6e73;
    font-size:14px;
}

.energy{
    background:#007aff;
    color:white;
    padding:8px 14px;
    border-radius:12px;
    font-weight:600;
}

#suggestion{
    margin-top:20px;
    padding:25px;
    background:white;
    border-radius:22px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    font-size:18px;
}
