body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display",sans-serif;
    background:#f2f2f7;
    color:#1c1c1e;
}

header{
    text-align:center;
    padding:40px 20px 20px;
}

h1{
    margin:0;
    font-weight:600;
}

p{
    color:#8e8e93;
}

.card{
    background:white;
    margin:18px;
    padding:22px;
    border-radius:22px;
    box-shadow:0 10px 30px rgba(0,0,0,0.06);
}

h2{
    margin-top:0;
}

input,select{
    width:100%;
    padding:14px;
    margin-top:10px;
    border-radius:14px;
    border:none;
    background:#f2f2f7;
    font-size:16px;
}

button{
    margin-top:14px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:16px;
    background:#007AFF;
    color:white;
    font-size:16px;
    font-weight:500;
}

ul{
    list-style:none;
    padding:0;
}

li{
    display:flex;
    justify-content:space-between;
    padding:14px;
    border-bottom:1px solid #eee;
}

li strong{
    font-weight:500;
}

li span{
    color:#8e8e93;
}
